azure-identity==1.12.0
azure-search-documents==11.6.0b3
azure-storage-blob==12.14.1
cachelib
databricks-langchain 
databricks-sql-connector
Flask==2.2.2
Flask-Cors
flask-session
gradio
langchain==0.0.78
langchain-community 
langid
numpy==1.25 
openai==0.27.8
openpyxl
pgvector
psycopg2
pandas
pyodbc
ragas
redis
Werkzeug==2.2.2